body {
    background-color: #FFFFFF;
    font-family: 'Garamond', serif;
    padding-bottom: 50px; /* Increased padding at the bottom */
}

.header {
    text-align: center;
    padding: 10px;
    margin: 10px;
    z-index: 99;
    position: sticky;
    top: 0;
}

.image-container {
    width: 100%;
    height: 150px;
    background: url('https://github.com/CarterBeauBenson/STIDS/blob/main/image/header.png?raw=true') no-repeat center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.organizer img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    position: relative;
    z-index: 2;
    background-color: #FFFFFF;
    padding: 0 20px; /* Adjusted padding for content not to be covered by sidebar */
}

.navbar {
    text-align: center;
    background-color: #008000;
}

.navbar a {
    margin: 0 15px;
    padding: 20px;
    text-decoration: none;
    color: #F8F8FF;
    font-size: 24px;
}

p, ul {
    font-size: 18px;
    padding: 0 165px; /* Adjust if necessary to prevent sidebar overlap */
}

li {
    padding: 0px;
}

h1, h2 {
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 0 150px;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

/* Sidebar adjustments */
.sidebar {
    position: fixed;
    top: 100px; /* Moved further down to not cover the header */
    left: 0;
    width: 200px;
    background-color: #f8f8ff;
    padding: 10px 10px 20px 10px; /* Added more padding at the bottom */
    z-index: 100;
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
    color: #000;
    text-decoration: none;
}

/* For visibility on the base page, ensure the sidebar HTML is included in your base page template. */

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}
